input {
  display: block;
  margin-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: thin solid black
}

img {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#buttons {
  display: inline;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}